llm/venv_llm
flutter
recommendation/recommendation
llm/building_llms_for_production/rag/download
llm/building_llms_for_production/rag/lecunninterview.mp4
llm/building_llms_for_production/rag/temp
/recommendation/chapter3/logs
llm/agent/agent
llm/agent/rag_with_agent/vectorstore
llm/agent/projects/report_한국_출산율.docx
llm/agent/projects/audio/moana2
llm/agent/projects/audio/empeachment
llm/agent/projects/audio/helmit_crap
llm/agent/projects/code_agent/chroma_db