llm/venv_llm
flutter
recommendation/recommendation
llm/building_llms_for_production/rag/download
llm/building_llms_for_production/rag/lecunninterview.mp4
llm/building_llms_for_production/rag/temp
/recommendation/chapter3/logs
llm/agent/agent
llm/agent/rag_with_agent/vectorstore
llm/agent/projects/report_한국_출산율.docx
llm/agent/projects/segment1.mp3
llm/agent/projects/segment2.mp3
llm/agent/projects/segment3.mp3
llm/agent/projects/segment4.mp3
llm/agent/projects/segment5.mp3
llm/agent/projects/segment6.mp3
llm/agent/projects/segment7.mp3
llm/agent/projects/segment8.mp3
llm/agent/projects/segment9.mp3
